apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: pipelines.pipeline.1eedaegon.github.io
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  labels:
  {{- include "pipeline-operator.labels" . | nindent 4 }}
spec:
  group: pipeline.1eedaegon.github.io
  names:
    kind: Pipeline
    listKind: PipelineList
    plural: pipelines
    singular: pipeline
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Number of executed run
      jsonPath: .status.runs
      name: Runs
      type: integer
    - description: Time of when created pipeline
      jsonPath: .status.createdDate
      name: CreatedDate
      type: string
    - description: Lastest tiem when pipeline updated it.
      jsonPath: .status.lastUpdatedDate
      name: LastUpdatedDate
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              env:
                additionalProperties:
                  type: string
                type: object
              historyLimit:
                properties:
                  amount:
                    type: integer
                  date:
                    type: string
                type: object
              inputs:
                items:
                  type: string
                type: array
              outputs:
                items:
                  type: string
                type: array
              resource:
                properties:
                  cpu:
                    type: string
                  gpu:
                    properties:
                      amount:
                        type: integer
                      type:
                        type: string
                    type: object
                  memory:
                    type: string
                type: object
              runBefore:
                items:
                  type: string
                type: array
              schedule:
                properties:
                  endDate:
                    type: string
                  scheduleDate:
                    type: string
                type: object
              tasks:
                items:
                  properties:
                    args:
                      items:
                        type: string
                      type: array
                    command:
                      type: string
                    env:
                      additionalProperties:
                        type: string
                      type: object
                    image:
                      type: string
                    inputs:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    outputs:
                      items:
                        type: string
                      type: array
                    resource:
                      properties:
                        cpu:
                          type: string
                        gpu:
                          properties:
                            amount:
                              type: integer
                            type:
                              type: string
                          type: object
                        memory:
                          type: string
                      type: object
                    runBefore:
                      items:
                        type: string
                      type: array
                    schedule:
                      properties:
                        endDate:
                          type: string
                        scheduleDate:
                          type: string
                      type: object
                    trigger:
                      type: boolean
                  type: object
                type: array
              trigger:
                type: boolean
              volumes:
                items:
                  properties:
                    capacity:
                      type: string
                    name:
                      type: string
                    storage:
                      type: string
                  type: object
                type: array
            type: object
          status:
            properties:
              createdDate:
                format: date-time
                type: string
              lastUpdatedDate:
                format: date-time
                type: string
              runs:
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []