---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: tasks.pipeline.1eedaegon.github.io
spec:
  group: pipeline.1eedaegon.github.io
  names:
    kind: Task
    listKind: TaskList
    plural: tasks
    singular: task
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              args:
                items:
                  type: string
                type: array
              command:
                type: string
              image:
                type: string
              name:
                type: string
            type: object
          status:
            properties:
              createDate:
                format: date-time
                type: string
              jobs:
                type: integer
              lastUpdateDate:
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
