name: Generate and publish sdks to npm
on:
  workflow_dispatch:
  push:
    # https://stackoverflow.com/questions/61891328/trigger-github-action-only-on-new-tags
    tags:
      - 'v*'

permissions:
  contents: write
  id-token: write
  packages: write
  pages: write

jobs:
  generate-and-publish-sdks-to-npm:
    runs-on: ubuntu-24.04
    strategy:
      max-parallel: 1
      matrix:
        sdk:
          - type: typescript-axios
            type-shorthand: ts-axios
          - type: typescript-fetch
            type-shorthand: ts-fetch
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: ./.github/actions/build-and-push-container-image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/save-and-upload-openapi-yaml
      - uses: ./.github/actions/generate-and-publish-sdks-to-npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
